<form [formGroup]="projectForm" (ngSubmit)="onSubmit()" novalidate>

    <section formGroupName="buyerInfo">

        <!-- COMPANY NAME -->
        <div>
            <label>
                Company name
                <small>(optional)</small>
                <input type="text" formControlName="companyName">
            </label>
        </div>

        <div></div>

        <!-- COUNTRY -->
        <div>
            <label>
                Country
                <select formControlName="country">
                    <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                </select>
            </label>
            <div [@fadeInOut]="gotError('buyerInfo.country')" *ngIf="gotError('buyerInfo.country')">{{ formErrors['buyerInfo.country'] }}</div>
        </div>

    </section>

    <h5>Project / Job Information</h5>

    <section formGroupName="projectInfo">

        <!-- COMPANY NAME -->
        <div>
            <label>
                Project name
                <input type="text" formControlName="projectName">
            </label>
            <div [@fadeInOut]="gotError('projectInfo.projectName')" *ngIf="gotError('projectInfo.projectName')">{{ formErrors['projectInfo.projectName'] }}</div>
        </div>

    </section>

    <section>
        <!-- SUBMIT -->
        <div>
            <button type="submit" role="button">Submit your project</button>
        </div>
    </section>

</form>

<!--<br><br>-->
<!--<p>Street value: {{ heroForm.get('address.street').value}}</p>-->
<!--<p>Form value: {{ projectForm.value | json }}</p>-->
<!--<p>Form status: {{ projectForm.status | json }}</p>-->
