<div class="container pb-5">
  <div class="col-sm-12">
    <h3 class="mb-4">How it works</h3>
    <div>
      <p class="pb-5 lead">
        EaZiUp is a platform that connects entrepreneurs to students seeking interesting projects with added value, as opposed to just getting it done and throwing it away.
        Entrepreneurs' benefit from the exchange is that they pay far less than they would if they had chosen a freelancer.
      </p>

      <h5 class="mt-5 mb-5"><span>From an entrepreneur's perspective</span></h5>
      <div class="row text-center pt-5">
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Enter icon by Icons8 -->
            <img class="icon icons8-Enter" width="64" height="64" [src]="ICONS.ENTER">
          </div>
          <strong class="mb-4 d-block">Submitting a project</strong>
          <p>Have a project in mind, but limited resources? Sign up and begin by filling the new project form.</p>
          <hr>
          <p>Provide as much details as possible, as it's crucial to minimize miscommunication.</p>
        </div>
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Cursor icon by Icons8 -->
            <img class="icon icons8-Cursor" width="64" height="64" [src]="ICONS.CURSOR">
          </div>
          <strong class="mb-4 d-block">Selecting a team</strong>
          <p>Choose from teams of students that found your project interesting and would like work on it.</p>
          <hr>
          <p>You can see exactly who are the candidates and how qualified they are.</p>
        </div>
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Trolley icon by Icons8 -->
            <img class="icon icons8-Trolley" width="64" height="64" [src]="ICONS.TROLLEY">
          </div>
          <strong class="mb-4 d-block">Receiving the project</strong>
          <p>The project is delivered to you incrementally, as the milestones you defined complete.</p>
          <hr>
          <p>On each milestone's completion, you release a part of the funds to pay for the students' work.</p>
        </div>
      </div>

      <h5 class="mt-5"><span>From a student's perspective</span></h5>
      <div class="row text-center mb-5 pt-5">
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Search icon by Icons8 -->
            <img class="icon icons8-Search" width="64" height="64" [src]="ICONS.SEARCH">
          </div>
          <strong class="mb-4 d-block">Browsing projects</strong>
          <p>Browse verified projects and choose the one that interests you the most.</p>
        </div>
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Natural User Interface 2 icon by Icons8 -->
            <img class="icon icons8-Natural-User-Interface-2" width="64" height="64" [src]="ICONS.HAND">
          </div>
          <strong class="mb-4 d-block">Applying to a project</strong>
          <p>Create a team that consists of your co-students and apply as one.</p>
        </div>
        <div class="col-4 pl-5 pr-5">
          <div class="mb-3">
            <!-- Work icon by Icons8 -->
            <img class="icon icons8-Work" width="64" height="64" [src]="ICONS.WORK">
          </div>
          <strong class="mb-4 d-block">Starting to work</strong>
          <p>As a project owner selects your team, you can begin to work!</p>
        </div>
      </div>
    </div>
  </div>
</div>
