<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!isSubmitted">

  <wizard [navBarLayout]="'large-filled-symbols'">
    <wizard-step data-title="General" navigationSymbol="1" (stepEnter)="initStep($event, CONFIG.WIZARD.STEPS.GENERAL)">
      <project-form-buyer-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [countries]="countries"
      ></project-form-buyer-info>
    </wizard-step>

    <wizard-step data-title="Project info" navigationSymbol="2" (stepEnter)="initStep($event, CONFIG.WIZARD.STEPS.INFO)">
      <project-form-project-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [cats]="cats"
      ></project-form-project-info>
    </wizard-step>

    <wizard-step data-title="Design" navigationSymbol="3" (stepEnter)="initStep($event, CONFIG.WIZARD.STEPS.DESIGN)">
      <project-form-design
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
      ></project-form-design>
    </wizard-step>

    <wizard-step data-title="Team & Milestones" navigationSymbol="4" (stepEnter)="initStep($event, CONFIG.WIZARD.STEPS.MILESTONES)">
      <project-form-milestones
        [fb]="fb"
        [myForm]="myForm"
        [milestones]="milestones"
        [formErrors]="formErrors"
        [gotError]="gotError"
      ></project-form-milestones>
    </wizard-step>

    <wizard-step data-title="Compensation" navigationSymbol="5" (stepEnter)="initStep($event, CONFIG.WIZARD.STEPS.FINAL)">
      <project-form-final
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [isEditMode]="isEditMode"
      ></project-form-final>
    </wizard-step>
  </wizard>

</form>

<!-- Success screen after project added -->
<div class="pt-5" *ngIf="isSubmitted">
  <div class="text-gray-dark text-center mt-5">
    <span class="display-1 d-inline-block mt-5">All Done</span>
    <i class="fa fa-check fa-5x text-success font-weight-bold ez-big-icon mt-5 ml-3 d-inline-block"></i>
  </div>
  <p class="lead text-center text-muted mt-3">
    {{isEditMode ? 'Your project has been successfully updated' : 'Your project is now available for students to pick'}}
  </p>
  <p class="lead text-center mt-3">
    <a class="card-link" routerLink="/my-projects">
      <i class="fa fa-sliders mr-1"></i> Manage your projects
    </a>
  </p>
</div>
<!-- end -->

<!--<br><br>-->
<!--<pre>Form value: {{ myForm.value | json }}</pre>-->
<!--<p>Form status: {{ myForm.status | json }}</p>-->
