<div [formGroup]="myForm">
  <section formGroupName="milestones">

    <p class="lead mb-5">
      <i class="fa fa-exclamation-circle text-secondary mr-2"></i>
      You can add up to 5 milestones
    </p>

    <div class="ez-group" formArrayName="arr">
      <div class="ez-row ez-box"
           *ngFor="let control of myForm.get(['milestones', 'arr']).controls; let i = index"
           [formGroup]="control"
           [@fadeInOut]="i">

        <!-- MILESTONE NAME & TIMESPAN -->
        <div class="ez-col-break">
          <div class="row">
            <!-- NAME -->
            <div class="col-md-8">
              <label for="mn">
                <strong>Milestone name</strong>
              </label>
              <i class="fa fa-question-circle" *ngIf="i === 0"
                 container="body" ngbTooltip="Examples: building the front-end, building the back-end, shop module, responsive adaptations"></i>
              <input id="mn" type="text" formControlName="name">
            </div>
            <!-- TIMESPAN -->
            <div class="col-md-2 pr-0">
              <label for="ts">
                <strong>Time</strong>
              </label>
              <i class="fa fa-question-circle" *ngIf="i === 0"
                 container="body" ngbTooltip="In how many weeks should the developers finish the milestone's tasks"></i>
              <input id="ts" type="number" min="{{CONFIG.MIN_TIMESPAN}}" max="{{CONFIG.MAX_TIMESPAN}}" autocomplete="off" formControlName="timespan">
            </div>
            <div class="col-md-1 pt-5">
              <em>Weeks</em>
            </div>
            <div class="col-md-12">
              <div class="ez-error" [@fadeInOut]="gotError('milestones.arr.name', i)" *ngIf="gotError('milestones.arr.name', i)">{{formErrors['milestones']['arr'][i]['name']}}</div>
              <div class="ez-error" [@fadeInOut]="gotError('milestones.arr.timespan', i)" *ngIf="gotError('milestones.arr.timespan', i)">{{formErrors['milestones']['arr'][i]['timespan']}}</div>
            </div>
          </div>
        </div>
        <!-- MILESTONE DESCRIPTION -->
        <div class="ez-col-break">
          <label for="md">
            <strong>Milestone description</strong>
          </label>
          <i class="fa fa-question-circle" *ngIf="i === 0"
             container="body" ngbTooltip="Any additional information to help shape the milestone's purpose"></i>
          <textarea id="md" class="ez-compact" formControlName="desc"></textarea>
          <div class="ez-error" [@fadeInOut]="gotError('milestones.arr.desc', i)" *ngIf="gotError('milestones.arr.desc', i)">{{formErrors['milestones']['arr'][i]['desc']}}</div>
        </div>
        <button type="button" class="close" (click)="removeMilestone(i)" *ngIf="i > 0">
          <span>&times;</span>
        </button>
      </div>
    </div>

    <div class="ez-group" *ngIf="milestones.get('arr').length < CONFIG.MAX_MILESTONES">
      <div class="ez-row">
        <div class="ez-col-break text-right">
          <button class="btn btn-secondary" type="button" role="button" (click)="addMilestone()">
            Add Milestone<i class="fa fa-plus ml-2 text-muted"></i>
          </button>
        </div>
      </div>
    </div>

  </section>

  <!-- Continue button -->
  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-link text-muted" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.milestones.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>

</div>
