<div [formGroup]="myForm">
  <section formGroupName="projectInfo">

    <!-- PROJECT NAME -->
    <div>
      <div>
        <label>
          <strong>Project name</strong>
          <small>
            The name of your project is not displayed publicly on the system to suppliers and will not be
            searchable by project searchers. The name is only revealed to the supplier / suppliers once
            the project has been allocated to them. Initially, a temporary name will be used such as PROJECT4435.
          </small>
          <input type="text" formControlName="projectName">
        </label>
        <div [@fadeInOut]="gotError('projectInfo.projectName')" *ngIf="gotError('projectInfo.projectName')">{{formErrors['projectInfo']['projectName']}}</div>
      </div>
    </div>

    <!-- CATEGORY & SUB CATEGORY -->
    <div>
      <div>
        <label>
          <strong>Category</strong>
          <select formControlName="cat">
            <option *ngFor="let cat of cats" [value]="cat">{{cat}}</option>
          </select>
        </label>
      </div>
      <div>
        <label>
          <strong>Sub Category</strong>
          <select formControlName="subCat">
            <option *ngFor="let subCat of subCats" [value]="subCat">{{subCat}}</option>
          </select>
        </label>
      </div>
    </div>

  </section>

  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-secondary" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.projectInfo.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>
</div>
