<div [formGroup]="myForm">
  <section formGroupName="design">

    <div class="ez-group">
      <!-- LOGO AND SLOGAN -->
      <div class="ez-col">
        <label for="ls">
          Logo & slogan
          <small>(optional)</small>
        </label>
        <i class="fa fa-question-circle" container="body"
           ngbTooltip="Attach the logo and slogan so the software developers can see you chosen company colours when they are developing and creating your system."></i>
        <div class="custom-file">
          <input id="ls" type="file" class="custom-file-input" multiple my-custom-file formControlName="logoSlogan">
          <span class="custom-file-label"></span>
        </div>
      </div>
      <!-- DESIGN IDEAS -->
      <div class="ez-col">
        <label for="di">
          Design ideas
          <small>(optional)</small>
        </label>
        <i class="fa fa-question-circle" container="body"
           ngbTooltip="Attach any screen shots you have or ideas you have from researching the design of other systems or web-sites. Consider the system structure and colours."></i>
        <div class="custom-file">
          <input id="di" type="file" class="custom-file-input" multiple my-custom-file formControlName="designIdeas">
          <span class="custom-file-label"></span>
        </div>
      </div>
    </div>

    <div class="ez-group">
      <!-- PROJECT DESIGN OUTLINE -->
      <div class="ez-col">
        <label for="do">
          <strong>Design outline</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="designOutlineTooltip"></i>
        <textarea id="do" formControlName="designOutline"></textarea>
        <ng-template #designOutlineTooltip>
          Describe how you would like the system colours and structure to look based on the uploaded screen shots and any ideas you may have.
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('design.designOutline')" *ngIf="gotError('design.designOutline')">{{formErrors['design']['designOutline']}}</div>
      </div>
    </div>

  </section>

  <!-- Continue button -->
  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-link text-muted" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.design.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>

</div>
