<div [formGroup]="myForm">
  <section formGroupName="design">

    <div>
      <!-- LOGO AND SLOGAN -->
      <div>
        <label>
          <strong>Logo & slogan</strong>
          <input type="file" name="logoSlogan" multiple class="form-control-file" formControlName="logoSlogan">
        </label>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur"
           ngbTooltip="Attach the logo and slogan so the software developers can see you chosen company colours when they are developing and creating your system."></i>
        <div [@fadeInOut]="gotError('design.logoSlogan')" *ngIf="gotError('design.logoSlogan')">{{formErrors['design']['logoSlogan']}}</div>
      </div>
      <!-- Design ideas -->
      <div>
        <label>
          <strong>Design ideas</strong>
          <input type="file" name="designIdeas" multiple class="form-control-file" formControlName="designIdeas">
        </label>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur"
           ngbTooltip="Attach any screen shots you have or ideas you have from researching the design of other systems or web-sites. Consider the system structure and colours."></i>
        <div [@fadeInOut]="gotError('design.designIdeas')" *ngIf="gotError('design.designIdeas')">{{formErrors['design']['designIdeas']}}</div>
      </div>
    </div>

  </section>

  <!-- Continue button -->
  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-secondary" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.design.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>

</div>
