<div [formGroup]="myForm">
  <section formGroupName="projectInfo">

    <div class="ez-group">
      <!-- PROJECT NAME -->
      <div class="ez-col">
        <label for="pn">
          <strong>Project name</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="projectNameTooltip"></i>
        <input id="pn" type="text" formControlName="projectName">
        <ng-template #projectNameTooltip>
          <p>
            The name of your project is not displayed publicly on the system to suppliers and will not be
            searchable by project searchers.
          </p>
          <p>
            The name is only revealed to the supplier / suppliers once
            the project has been allocated to them. Initially, a temporary name will be used such as <strong>PROJECT4435</strong>.
          </p>
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('projectInfo.projectName')" *ngIf="gotError('projectInfo.projectName')">{{formErrors['projectInfo']['projectName']}}</div>
      </div>
      <!-- CATEGORY -->
      <div class="ez-col">
        <label for="cat">
          <strong>Category</strong>
        </label>
        <select id="cat" formControlName="cat">
          <optgroup [label]="group.label" *ngFor="let group of cats">
            <option *ngFor="let cat of group.cats" [value]="cat.id">{{cat.label}}</option>
          </optgroup>
        </select>
      </div>
    </div>

    <div class="ez-group">
      <!-- BASIC DESCRIPTION -->
      <div class="ez-col">
        <label for="bdop">
          <strong>Basic description of project</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="basicDescTooltip"></i>
        <textarea id="bdop" formControlName="basicDesc"></textarea>
        <ng-template #basicDescTooltip>
          <strong>Do not provide any detailed information.</strong>
          <p>
            Give information about the basic type of
            features the system must include. This is what is publicly made available on the system
            and is marketed on the site for suppliers to view and search and should not give away
            any of your ideas or secrets.
          </p>
          <p>Ideas for describing basic features about your software requirements:</p>
          <ul>
            <li>Searchable database of subscribers</li>
            <li>Ability to search web-sites for specifics types of information</li>
            <li>Creation of a results table based on rankings</li>
          </ul>
          List all basic features in the box below so suppliers have a rough idea what you require.
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('projectInfo.basicDesc')" *ngIf="gotError('projectInfo.basicDesc')">{{formErrors['projectInfo']['basicDesc']}}</div>
      </div>
      <!-- FULL DESCRIPTION -->
      <div class="ez-col">
        <label for="fdop">
          <strong>Full description of project / functionality required</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="fullDescTooltip"></i>
        <textarea id="fdop" formControlName="fullDesc"></textarea>
        <ng-template #fullDescTooltip>
          Provide detailed software features and functionality required. This information will only
          be made available once a <strong>Non-Disclosure and Confidentiality Agreement</strong> is signed by all
          software development suppliers and is only viewable by them via the system.
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('projectInfo.fullDesc')" *ngIf="gotError('projectInfo.fullDesc')">{{formErrors['projectInfo']['fullDesc']}}</div>
      </div>
    </div>

    <h5><span>Requirements</span></h5>

    <div class="ez-group">
      <!-- TECHNOLOGY REQUIREMENTS -->
      <div class="ez-col">
        <label for="tr">
          <strong>Technology requirements</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="techReqsTooltip"></i>
        <textarea id="tr" formControlName="techReqs"></textarea>
        <ng-template #techReqsTooltip>
          Provide information about any technology requirements that are required, such as
          <em>HTML5, Apple IOS mobile application development, Android application development,
            CSS, MySQL, Oracle, Java</em> or any other software development technologies required.
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('projectInfo.techReqs')" *ngIf="gotError('projectInfo.techReqs')">{{formErrors['projectInfo']['techReqs']}}</div>
      </div>
      <!-- SOFTWARE DEVELOPER REQUIREMENTS -->
      <div class="ez-col">
        <label for="sdr">
          <strong>Software developer requirements</strong>
        </label>
        <i class="fa fa-question-circle" container="body" [ngbTooltip]="developerReqsTooltip"></i>
        <textarea id="sdr" formControlName="developerReqs"></textarea>
        <ng-template #developerReqsTooltip>
          <p>Provide information about any specific skills that the software developers must be
            proficient in such as:</p>
          <ul>
            <li>Fluent English (writing, reading and speaking)</li>
            <li>Ability to work remotely</li>
            <li>Project experience of working in HTML5</li>
            <li>Project experience of working in Java</li>
          </ul>
        </ng-template>
        <div class="ez-error" [@fadeInOut]="gotError('projectInfo.developerReqs')" *ngIf="gotError('projectInfo.developerReqs')">{{formErrors['projectInfo']['developerReqs']}}</div>
      </div>
    </div>

    <div class="ez-group">
      <!-- KNOWLEDGE OF OPERATING SYSTEMS -->
      <div class="ez-col" formGroupName="osReqs">
        <div class="dummy-label">
          Knowledge of operating systems
          <small>(optional)</small>
          <div class="ez-inputs-group">
            <label class="custom-control custom-checkbox col-sm-4 mr-0" *ngFor="let os of operatingSystems">
              <input type="checkbox" class="custom-control-input" [formControlName]="os.key">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{os.label}}</span>
            </label>
          </div>
        </div>
      </div>
      <!-- DEVELOPER COUNT -->
      <div class="ez-col">
        <div class="dummy-label">
          <strong>Number of software developers</strong>
          <div class="ez-inputs-group">
            <label class="custom-control custom-radio" *ngFor="let i of developerCounts">
              <input type="radio" class="custom-control-input" name="developerCount" formControlName="developerCount" [value]="i.key"
                     [checked]="i.key===myForm.get(['projectInfo', 'developerCount']).value">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">{{i.label}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </section>

  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-link text-muted" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.projectInfo.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>
</div>
