<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate *ngIf="!isSubmitted">

  <wizard [navBarLayout]="'large-filled-symbols'">
    <wizard-step data-title="General" navigationSymbol="1">
      <project-form-buyer-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [countries]="countries"
      ></project-form-buyer-info>
    </wizard-step>

    <wizard-step data-title="Project info" navigationSymbol="2">
      <project-form-project-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [cats]="cats"
      ></project-form-project-info>
    </wizard-step>

    <wizard-step data-title="Design" navigationSymbol="3">
      <project-form-design
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
      ></project-form-design>
    </wizard-step>

    <wizard-step data-title="Milestones" navigationSymbol="4">
      <project-form-milestones
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
      ></project-form-milestones>
    </wizard-step>

    <wizard-step data-title="Compensation" navigationSymbol="5">
      <project-form-final
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
      ></project-form-final>
    </wizard-step>
  </wizard>

</form>

<!-- Success screen after project added -->
<div class="pt-5" *ngIf="isSubmitted">
  <div class="text-gray-dark text-center mt-5">
    <span class="display-1 d-inline-block mt-5">All Done</span>
    <i class="fa fa-check fa-5x text-success font-weight-bold ez-big-icon mt-5 ml-3 d-inline-block"></i>
  </div>
  <p class="lead text-center text-muted mt-3">Your project is now available for students to pick</p>
</div>
<!-- end -->

<!--<br><br>-->
<!--<pre>Form value: {{ myForm.value | json }}</pre>-->
<!--<p>Form status: {{ myForm.status | json }}</p>-->
