<div [formGroup]="myForm">
  <section formGroupName="projectInfo">

    <!-- PROJECT NAME -->
    <div>
      <div>
        <label>
          <strong>Project name</strong>
          <input type="text" formControlName="projectName">
        </label>
        <ng-template #projectNameTooltip>
          <p>
            The name of your project is not displayed publicly on the system to suppliers and will not be
            searchable by project searchers.
          </p>
          <p>
            The name is only revealed to the supplier / suppliers once
            the project has been allocated to them. Initially, a temporary name will be used such as <strong>PROJECT4435</strong>.
          </p>
        </ng-template>
        <i class="fa fa-question-circle" triggers="click:blur" tabindex="0" container="body" [ngbTooltip]="projectNameTooltip"></i>
        <div [@fadeInOut]="gotError('projectInfo.projectName')" *ngIf="gotError('projectInfo.projectName')">{{formErrors['projectInfo']['projectName']}}</div>
      </div>
    </div>

    <!-- CATEGORY -->
    <div>
      <div>
        <label>
          <strong>Category</strong>
          <select formControlName="cat">
            <optgroup [label]="group.label" *ngFor="let group of cats">
              <option *ngFor="let cat of group.cats" [value]="cat.id">{{cat.label}}</option>
            </optgroup>
          </select>
        </label>
      </div>
    </div>

    <!-- BASIC DESCRIPTION -->
    <div>
      <div>
        <label>
          <strong>Basic description of project</strong>
          <textarea formControlName="basicDesc"></textarea>
        </label>
        <ng-template #basicDescTooltip>
          <strong>Do not provide any detailed information.</strong>
          <p>
            Give information about the basic type of
            features the system must include. This is what is publicly made available on the system
            and is marketed on the site for suppliers to view and search and should not give away
            any of your ideas or secrets.
          </p>
          <p>Ideas for describing basic features about your software requirements:</p>
          <ul>
            <li>Searchable database of subscribers</li>
            <li>Ability to search web-sites for specifics types of information</li>
            <li>Creation of a results table based on rankings</li>
          </ul>
          List all basic features in the box below so suppliers have a rough idea what you require.
        </ng-template>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur" [ngbTooltip]="basicDescTooltip"></i>
        <div [@fadeInOut]="gotError('projectInfo.basicDesc')" *ngIf="gotError('projectInfo.basicDesc')">{{formErrors['projectInfo']['basicDesc']}}</div>
      </div>
    </div>

    <!-- FULL DESCRIPTION -->
    <div>
      <div>
        <label>
          <strong>Full description of project</strong>
          <textarea formControlName="fullDesc" rows="10"></textarea>
        </label>
        <ng-template #fullDescTooltip>
          Provide detailed software features and functionality required. This information will only
          be made available once a <strong>Non-Disclosure and Confidentiality Agreement</strong> is signed by all
          software development suppliers and is only viewable by them via the system.
        </ng-template>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur" [ngbTooltip]="fullDescTooltip"></i>
        <div [@fadeInOut]="gotError('projectInfo.fullDesc')" *ngIf="gotError('projectInfo.fullDesc')">{{formErrors['projectInfo']['fullDesc']}}</div>
      </div>
    </div>

    <!-- TECHNOLOGY REQUIREMENTS -->
    <div>
      <div>
        <label>
          <strong>Technology requirements</strong>
          <textarea formControlName="techReqs" rows="7"></textarea>
        </label>
        <ng-template #techReqsTooltip>
          Provide information about any technology requirements that are required, such as
          <em>HTML5, Apple IOS mobile application development, Android application development,
            CSS, MySQL, Oracle, Java</em> or any other software development technologies required.
        </ng-template>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur" [ngbTooltip]="techReqsTooltip"></i>
        <div [@fadeInOut]="gotError('projectInfo.techReqs')" *ngIf="gotError('projectInfo.techReqs')">{{formErrors['projectInfo']['techReqs']}}</div>
      </div>
    </div>

    <!-- SOFTWARE DEVELOPER REQUIREMENTS -->
    <div>
      <div>
        <label>
          <strong>Software developer requirements</strong>
          <textarea formControlName="developerReqs"></textarea>
        </label>
        <ng-template #developerReqsTooltip>
          <p>Provide information about any specific skills that the software developers must be
            proficient in such as:</p>
          <ul>
            <li>Fluent English (writing, reading and speaking)</li>
            <li>Ability to work remotely</li>
            <li>Project experience of working in HTML5</li>
            <li>Project experience of working in Java</li>
          </ul>
        </ng-template>
        <i class="fa fa-question-circle" tabindex="0" container="body" triggers="click:blur" [ngbTooltip]="developerReqsTooltip"></i>
        <div [@fadeInOut]="gotError('projectInfo.developerReqs')" *ngIf="gotError('projectInfo.developerReqs')">{{formErrors['projectInfo']['developerReqs']}}</div>
      </div>
    </div>

  </section>

  <div class="ez-buttons d-flex justify-content-start">
    <button class="btn btn-secondary" type="button" role="button" previousStep>
      <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
    </button>
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.projectInfo.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>
</div>
