<div [formGroup]="myForm">
  <section formGroupName="buyerInfo">

    <div class="ez-group">
      <!-- FIRST NAME -->
      <div class="ez-col">
        <label for="fn">
          <strong>First name</strong>
        </label>
        <input id="fn" type="text" formControlName="firstName">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.firstName')" *ngIf="gotError('buyerInfo.firstName')">{{formErrors['buyerInfo']['firstName']}}</div>
      </div>
      <!-- LAST NAME -->
      <div class="ez-col">
        <label for="ln">
          <strong>Last name</strong>
        </label>
        <input id="ln" type="text" formControlName="lastName">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.lastName')" *ngIf="gotError('buyerInfo.lastName')">{{formErrors['buyerInfo']['lastName']}}</div>
      </div>
    </div>

    <div class="ez-group">
      <!-- CONTACT E-MAIL -->
      <div class="ez-col">
        <label for="ce">
          <strong>Contact email</strong>
        </label>
        <input id="ce" type="text" formControlName="contactEmail">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.contactEmail')" *ngIf="gotError('buyerInfo.contactEmail')">{{formErrors['buyerInfo']['contactEmail']}}</div>
      </div>
      <!-- PHONE -->
      <div class="ez-col">
        <label for="cp">
          <strong>Contact phone</strong>
        </label>
        <input id="cp" type="text" formControlName="contactPhone">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.contactPhone')" *ngIf="gotError('buyerInfo.contactPhone')">{{formErrors['buyerInfo']['contactPhone']}}</div>
      </div>
    </div>

    <h5><span>Location</span></h5>

    <div class="ez-group">
      <!-- COUNTRY -->
      <div class="ez-col">
        <label for="c">
          <strong>Country</strong>
        </label>
        <select id="c" class="ez-select" formControlName="country">
          <option *ngFor="let country of countries" [value]="country.country_id">{{country.country_name}}</option>
        </select>
      </div>
      <!-- CITY -->
      <div class="ez-col">
        <label for="ci">
          <strong>City</strong>
        </label>
        <input id="ci" type="text" formControlName="city">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.city')" *ngIf="gotError('buyerInfo.city')">{{formErrors['buyerInfo']['city']}}</div>
      </div>
    </div>

    <div class="ez-group">
      <!-- ADDRESS LINE 1 -->
      <div class="ez-col">
        <label for="al1">
          <strong>Address line 1</strong>
        </label>
        <input id="al1" type="text" formControlName="addressLine1">
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.addressLine1')" *ngIf="gotError('buyerInfo.addressLine1')">{{formErrors['buyerInfo']['addressLine1']}}</div>
      </div>
      <!-- ADDRESS LINE 2 & 3 -->
      <div class="ez-col">
        <label for="al2">
          Address line 2
          <small>(optional)</small>
        </label>
        <input id="al2" type="text" formControlName="addressLine2">
      </div>
    </div>

    <h5><span>Company</span></h5>

    <div class="ez-group">
      <!-- COMPANY NAME -->
      <div class="ez-col">
        <label for="cn">
          Company name
          <small>(optional)</small>
        </label>
        <input id="cn" type="text" formControlName="companyName">
      </div>
      <!-- POSITION -->
      <div class="ez-col">
        <label for="pitc">
          Position in the company
          <small>(optional)</small>
        </label>
        <input id="pitc" type="text" formControlName="companyPosition">
      </div>
    </div>

    <div class="ez-group">
      <!-- WHAT COMPANY DOES -->
      <div class="ez-col">
        <label for="wcd">
          <strong>What does your company do?</strong>
        </label>
        <i class="fa fa-question-circle" container="body" ngbTooltip="This information will not be disclosed to the supplier until the project is allocated to a supplier."></i>
        <textarea id="wcd" formControlName="whatCompanyDoes"></textarea>
        <div class="ez-error" [@fadeInOut]="gotError('buyerInfo.whatCompanyDoes')" *ngIf="gotError('buyerInfo.whatCompanyDoes')">{{formErrors['buyerInfo']['whatCompanyDoes']}}</div>
      </div>
    </div>

  </section>

  <!-- Continue button -->
  <div class="ez-buttons d-flex justify-content-start">
    <div class="ml-auto">
      <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
      <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.buyerInfo.invalid">
        Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
      </button>
    </div>
  </div>

</div>
