<form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>

  <wizard [navBarLayout]="'large-filled-symbols'">
    <wizard-step data-title="General" navigationSymbol="1">
      <project-form-buyer-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [countries]="countries"
      ></project-form-buyer-info>
    </wizard-step>

    <wizard-step data-title="Project info" navigationSymbol="2">
      <project-form-project-info
        [myForm]="myForm"
        [formErrors]="formErrors"
        [gotError]="gotError"
        [cats]="cats"
      ></project-form-project-info>
    </wizard-step>

    <wizard-step data-title="Media" navigationSymbol="3">
      <section>
        Content of Step 3
      </section>
      <div class="ez-buttons d-flex justify-content-start">
        <button class="btn btn-secondary" type="button" role="button" previousStep>
          <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
        </button>
        <div class="ml-auto">
          <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
          <button class="btn btn-lg btn-success" type="button" role="button" nextStep [disabled]="myForm.controls.projectInfo.invalid">
            Continue<i class="fa fa-angle-right ml-2 font-weight-bold"></i>
          </button>
        </div>
      </div>
    </wizard-step>

    <wizard-step data-title="Milestones" navigationSymbol="4">
      <section>
        Content of Step 4
      </section>
      <div class="ez-buttons d-flex justify-content-start">
        <button class="btn btn-secondary" type="button" role="button" previousStep>
          <i class="fa fa-angle-left mr-2 font-weight-bold"></i>Go back
        </button>
        <div class="ml-auto">
          <small class="ml-3 mr-3">* Psst, <strong>bold</strong> fields are mandatory!</small>
          <button class="btn btn-lg btn-success" type="submit" role="button" nextStep>Submit your project</button>
        </div>
      </div>
    </wizard-step>

    <wizard-completion-step data-title="Compensation" navigationSymbol="5">
      <section>Thanks!</section>
    </wizard-completion-step>
  </wizard>


</form>

<!--<br><br>-->
<!--<pre>Form value: {{ myForm.value | json }}</pre>-->
<!--<p>Form status: {{ myForm.status | json }}</p>-->
