@import './_variables';



/** Override auth0 lock widget **/

.auth0-lock .auth0-lock-widget {
  img.auth0-lock-header-logo {
    width: 200px;
    height: 150px;
    position: relative;
    top: -28px;
  }
  .auth0-lock-name {
    display: none;
  }
}

.auth0-lock-badge-bottom {
  display: none;
}

/** end*/



/** Override archwizard **/

// Step circle
.horizontal.large-filled-symbols ul.steps-indicator li:after {
  line-height: 47px !important;
}

// Current step
.horizontal.large-filled-symbols ul.steps-indicator li.current:after,
// Editing (went back)
.horizontal.large-filled-symbols ul.steps-indicator li.editing:after {
  background: $ez_orange !important;
  font-weight: bold;
  color: #fff !important;
  text-shadow: 1px 1px 3px hsla(0, 0, 0, 0.5);
  font-size: 1.2rem;
}

// Complete step
.horizontal.large-filled-symbols ul.steps-indicator li.done:after {
  background: $ez_green !important;
}

// Step text
.horizontal ul.steps-indicator li div a {
  font-weight: normal !important;
  text-transform: none !important;
}

/** end **/



/** Override ngb tooltip **/

ngb-tooltip-window.tooltip.show {
  opacity: 1;
  div.tooltip-inner {
    max-width: 500px;
    padding: 15px 25px 20px 25px;
    color: #222;
    text-align: inherit;
    background-color: #fff;
    border-radius: 0.5rem;
    line-height: 25px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    p:last-child {
      margin-bottom: 0;
    }
    &::before {
      border-top-color: #ccc;
    }
  }
}

/** end **/
