// Colors
$ez_cream: lighten(#efedef, 3%);
$ez_cream_light: lighten($ez_cream, 5%);
$ez_cream_darker: darken($ez_cream, 7%);
$ez_cream_darker1: darken($ez_cream, 25%);
$ez_cream_darker2: darken($ez_cream, 55%);
$ez_cream_darker3: darken($ez_cream, 65%);
$ez_grey: #4d444d;
$ez_white: #fff;
$ez_orange: #f08525;
$ez_green: #5cb85c;

// Config
$ez_slide_speed: 350ms;
