/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import 'overrides';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/ng2-slim-loading-bar/bundles/style';

/* FORM */

form {
  @extend .pt-3;

  // Row
  section {
    padding: 40px 0 30px 0;

    > div {
      @extend .row;
      width: 100%;

      // A form group (col)
      > div {
        @extend .form-group;
        @extend .col-md-6;

        // Label
        > label,
        > .dummy-label {
          @extend .form-control-label;
          display: block;
          color: $ez_cream_darker2;

          > strong {
            display: block;
            font-weight: 500;
          }

          // Inputs

          > input,
          > textarea,
          > select {
            @extend .mt-2;
            @extend .form-control;
          }

          > textarea {
            min-height: 120px;
            line-height: 22px;
          }

          > select {
            @extend .custom-select;
          }

          // end Inputs
        }
        // end Label

        // Tooltip
        > i.fa {
          position: absolute;
          top: 42px;
          right: -12px;
          cursor: pointer;
          outline: none;
          color: $ez_green;
        }
        // end Tooltip

        // Error message
        > div {
          @extend .alert;
          @extend .alert-danger;
          @extend .mt-2;
          max-height: 50px;
        }
      }
    }
  }

  // Various

  .ez-buttons {
    @extend .mt-5;
  }

  .ez-inputs-group {
    margin-top: 0.5rem;
  }
}

button, input, optgroup, select, textarea {
  font-family: $font-family-base;
}

input, optgroup, select, textarea {
  color: $ez_cream_darker3 !important;
  border: 1px solid $ez_cream_darker !important;
  &:focus {
    border-color: $ez_orange !important;
  }
}

/* end FORM */



/* BASIC UI */

h3 {
  color: $ez_cream_darker2;
  font-weight: 400;
  text-transform: capitalize;
}

h5 {
  @extend .mt-3;
  @extend .mb-4;
  color: $ez_green;
  font-weight: 500;
  text-align: center;
  position: relative;
  text-transform: capitalize;
  span {
    display: inline-block;
    background: $ez_cream;
    position: relative;
    padding: 0 10px;
  }
  &:before {
    content: '';
    border-top: 1px solid $ez_cream_darker;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

/* end BASIC UI */
