<div class="mb-5 text-center">
  <h1 class="display-4 mb-4">Turning Ideas Into Results</h1>
  <p class="lead">
    EaZiUp is the affordable marketplace where your projects cost up to 80% less <br>and
    are completed by a team of highly educated specialists who know how each other work.<br>
    This enables you to transform your idea into reality for a small investment.
  </p>
  <div class="mx-auto mt-5 pb-5" style="width: 320px">
    <button type="button" class="btn btn-success btn-lg" role="button" [routerLink]="['./projects']">
      Add a New Project or Job Today
    </button>
  </div>
</div>

<div class="ez-highlights-wrapper">
  <div class="container">
    <div class="row ez-highlights pt-5 pb-5">
      <div class="col-md-3 text-center">
        <h2 class="display-4 font-weight-bold">9,621</h2>
        <p>Specialist suppliers registered and available today</p>
      </div>
      <div class="col-md-3 text-center">
        <h2 class="display-4 font-weight-bold">51</h2>
        <p>Specialist supplier teams available in all categories today</p>
      </div>
      <div class="col-md-3 text-center">
        <h2 class="display-4 font-weight-bold">98</h2>
        <p>Projects uploaded so far</p>
      </div>
      <div class="col-md-3 text-center">
        <h2 class="display-4 font-weight-bold">53</h2>
        <p>Successfully completed projects<br> so far</p>
      </div>
    </div>
  </div>
</div>
