@import '../../../styles/variables';

.ez-highlights-wrapper {
  background: $ez_orange;

  .ez-highlights {
    h2 {
      color: $ez_cream;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
      font-weight: 500;
      font-size: 3rem;
    }
    p {
      color: $ez_cream;
      padding: 0 10px;
    }
    > div {
      border-right: 1px solid darken($ez_orange, 7%);
      &:last-child {
        border: 0;
      }
    }
  }
}
