<div class="container mb-5 text-center" *ngIf="!isSubmitted">
  <h1 class="display-4 mb-5">Choose account type</h1>
  <p class="lead">
    Please choose the account type appropriate for you.<br>
    Note that you cannot undo this action.
  </p>
  <hr class="mt-5">
  <div class="row mt-5">
    <div class="col-5 offset-1">
      <h3>Entrepreneur</h3>
      <!-- Businessman icon by Icons8 -->
      <img class="mt-3 mb-3 icon icons8-Businessman" width="64" height="64" [src]="ICONS.BIZ_MAN">
      <p>
        Choose if you're after affordable,<br>
        controlled and quality projects.
      </p>
      <button type="button" class="mt-3 mb-3 btn btn-outline-success btn-lg font-weight-bold" role="button" (click)="setAccTypeAsEntrepreneur()">
        I'm an entrepreneur
      </button>
    </div>
    <div class="col-5">
      <h3>Student</h3>
      <!-- Student Male icon by Icons8 -->
      <img class="mt-3 mb-3 icon icons8-Student-Male" width="64" height="64" [src]="ICONS.STUDENT">
      <p>
        Choose if you're after an interersting<br>
        college project with added value.
      </p>
      <button type="button" class="mt-3 mb-3 btn btn-outline-success btn-lg font-weight-bold" role="button" (click)="setAccTypeAsStudent()">
        I'm a student
      </button>
    </div>
    <div class="col-12 mt-5">&nbsp;</div>
  </div>
</div>

<!-- Success screen after project added -->
<div class="pt-5" *ngIf="isSubmitted">
  <div class="text-gray-dark text-center mt-5">
    <div class="display-1 d-block mt-5">Thanks</div>
    <!-- Good Quality icon by Icons8 -->
    <img class="d-inline-block mt-4 icon icons8-Good-Quality" width="128" height="128" [src]="ICONS.THUMBS_UP">
  </div>
  <p class="lead text-center text-muted mt-3">
    Account successfuly updated<br>
    Please wait a few moments...
  </p>
</div>
<!-- end -->
