<div class="ez-top pb-5">
  <div class="container">
    <div class="row">
      <div id="logo" class="col-sm-3">
        <img width="200" height="150" [src]="appLogo" [routerLink]="['./']">
      </div>

      <nav class="nav nav-pills nav-fill mt-5 col-sm-8">
        <span class="nav-item" *ngFor="let item of topNav">
          <a class="nav-link text-muted" [routerLink]="[item.link]" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}">
            {{item.label}}
          </a>
        </span>
      </nav>
    </div>
  </div>
</div>

<main class="ez-main">
  <router-outlet></router-outlet>
</main>

<footer class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let nav of footerNav">
        <h6 class="ml-3 text-success">{{nav.label}}</h6>
        <nav class="nav flex-column">
          <a class="nav-link text-muted" [routerLink]="[link.link]" routerLinkActive="active"
             *ngFor="let link of nav.items">
            {{link.label}}
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>

<ng2-slim-loading-bar [color]="'#5cb85c'"></ng2-slim-loading-bar>
