@import '../styles/variables';

.ez-top {
  background: $ez_white;
  color: $ez_cream_darker2;

  #logo {
    user-select: none;
    cursor: default;
    img {
      outline: none;
      cursor: pointer;
      position: relative;
      left: -20px;
      top: 0;
    }
  }

  nav {
    padding: 30px 0 0 0;
    text-transform: capitalize;

    &.nav-pills .nav-link.active {
      color: $ez_cream !important;
      background-color: $ez_orange;
      margin: 0 10px;
    }
  }

  .ez-top-aside {
    padding: 30px 0 0 0;
  }
}


.ez-main {
  position: relative;
  background: $ez_cream;
  padding: 50px 0 0 0;
  color: $ez_cream_darker2;
  min-height: 663px;

  .nav-pills .nav-link {
    color: $ez_cream_darker2;
    border: 1px solid transparent;

    .badge {
      background-color: $ez_cream_darker1;
      margin-left: 7px;
      line-height: 13px;
    }

    &.active {
      color: $ez_orange !important;
      background-color: transparent;
      border-color: $ez_orange;

      .badge {
        background-color: $ez_orange;
      }
    }
  }
}
