<div class="ez-top">
  <div class="container">
    <div class="row">
      <!-- Logo -->
      <div id="logo" class="col-sm-2">
        <img width="133" height="100" [src]="appLogo" routerLink="/">
      </div>
      <!-- end -->

      <!-- Nav -->
      <nav class="nav nav-pills col-sm-7">
        <span class="nav-item" *ngFor="let item of topNav">
          <a class="nav-link text-muted" [routerLink]="[item.link]" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}" *ngIf="item.isVisible">
            {{item.label}}
          </a>
        </span>
      </nav>
      <!-- end -->

      <!-- Aside -->
      <div class="ez-top-aside col-sm-3">

        <!-- Sign up / Log in -->
        <button class="btn btn-success font-weight-bold pull-right" role="button" *ngIf="!auth.isAuthenticated" (click)="auth.doSignUp()">
          Sign up
        </button>
        <span class="text-muted mt-2 mr-4 pull-right" role="button" *ngIf="!auth.isAuthenticated" (click)="auth.doLogIn()">
          Log in
        </span>
        <!-- end -->

        <!-- Account links + log out -->
        <div class="text-muted mt-2 pull-right" *ngIf="auth.isAuthenticated">
          <div ngbDropdown>
            <div role="button" ngbDropdownToggle>
              <img class="rounded-circle mr-2" width="25" height="25" [src]="auth.profile['picture']">
              {{auth.profile['name']}}
            </div>
            <div class="dropdown-menu mt-2">
              <div *ngIf="!auth.isAccTypeUnknown">
                <button class="dropdown-item disabled" role="button">Settings</button>
                <div class="dropdown-divider"></div>
                <small class="dropdown-item text-muted ez-dd-info">
                  {{auth.isAccTypeStudent ? 'Student' : 'Entrepreneur'}}
                </small>
              </div>
              <button class="dropdown-item" role="button" (click)="auth.doLogOut()">Logout</button>
            </div>
          </div>
        </div>
        <!-- end -->

      </div>
      <!-- end -->
    </div>

  </div>
</div>

<main class="ez-main">
  <div class="ez-global-loader {{!isResolvesLoaded || isGlobalLoading ? 'ez-is-loading' : ''}}">
    <i class="fa fa-circle-o-notch fa-spin fa-2x text-success"></i>
  </div>
  <router-outlet></router-outlet>
</main>

<footer class="pt-5 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3" *ngFor="let nav of footerNav">
        <h6 class="ml-3 text-success">{{nav.label}}</h6>
        <nav class="nav flex-column">
          <a class="nav-link text-muted" [routerLink]="[link.link]" routerLinkActive="active"
             *ngFor="let link of nav.items">
            {{link.label}}
          </a>
        </nav>
      </div>
    </div>
    <hr>
    <div class="row mt-3 small text-muted">
      <div class="col-12">
        <span class="float-left">© 2017 EaZiUp</span>
        <a class="text-muted float-right" href="https://icons8.com">Icon pack by Icons8</a>
      </div>
    </div>
  </div>
</footer>

<ng2-slim-loading-bar [color]="'#5cb85c'"></ng2-slim-loading-bar>
