<div class="container">
  <div class="row">
    <div id="logo" class="col-sm-3">
      <img [src]="appLogo" [routerLink]="['./']">
      <div class="text-muted">{{slogan}}</div>
    </div>

    <nav class="nav nav-pills nav-fill mt-5 col-sm-8">
      <li class="nav-item" *ngFor="let item of topNav">
        <a class="nav-link text-muted" [routerLink]="[item.link]" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          {{item.label}}
        </a>
      </li>
    </nav>
  </div>

  <main class="container">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="row">
      <div class="col-md-3" *ngFor="let nav of footerNav">
        <h6 class="ml-3">{{nav.label}}</h6>
        <nav class="nav flex-column">
          <a class="nav-link text-muted" [routerLink]="[link.link]" routerLinkActive="active" *ngFor="let link of nav.items">
            {{link.label}}
          </a>
        </nav>
      </div>
    </div>
  </footer>
</div>
