<div class="container pb-5">
  <div class="col-sm-12">
    <h3 class="mb-4">Projects</h3>
    <div class="row">

      <ngb-tabset class="col-12" justify="center" type="pills">
        <!-- Tab 1 -->
        <ngb-tab>
          <ng-template ngbTabTitle>All projects</ng-template>
          <ng-template ngbTabContent>
            <div class="row pt-5">
              <!-- Single project -->
              <ng-container *ngFor="let p of projects; let i = index">
                <div class="col-md-6">
                  <div class="card col-12 pr-0 pl-0 mr-4 mb-4">
                    <div class="card-block">
                      <h4 class="card-title ez-green ez-link d-inline-block" routerLink="/project/{{p.id}}">
                        {{p.name}}
                      </h4>
                      <h6 class="card-subtitle mb-2 font-weight-normal text-muted">
                        {{p.cat.name + (p.company ? ' by ' + p.company : '')}}
                      </h6>
                      <hr>
                      <p class="card-text mb-4" [innerHTML]="p.desc | nl2list"></p>
                    </div>
                    <div class="card-footer text-muted text-center">
                      <i class="fa fa-calendar-o mr-1"></i> Starts <strong>{{p.start_date | date}}</strong>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- /end Single project -->
            </div>
            <div *ngIf="!projects.length">
              No projects yet
            </div>
          </ng-template>
        </ngb-tab>

        <!-- Tab 2 -->
        <ngb-tab>
          <ng-template ngbTabTitle>Applications</ng-template>
          <ng-template ngbTabContent>
            <div class="row pl-3 pt-5">
              ...
            </div>
          </ng-template>
        </ngb-tab>

        <!-- Tab 3 -->
        <ngb-tab>
          <ng-template ngbTabTitle>In work</ng-template>
          <ng-template ngbTabContent>
            <div class="row pl-3 pt-5">
              ...
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</div>
