<div class="container pb-5">
  <div class="col-sm-12">
    <h3 class="mb-4">Browse Projects</h3>
    <div class="row">

      <ngb-tabset class="col-12" justify="center" type="pills">
        <!-- Not applied to / not working on -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            New Projects
            <span class="badge badge-pill" *ngIf="newProjects.length">{{newProjects.length}}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row pt-5">
              <ng-container *ngFor="let p of newProjects">
                <project-box class="col-md-6" [p]="p"></project-box>
              </ng-container>
            </div>
            <div *ngIf="!newProjects.length">
              No projects yet
            </div>
          </ng-template>
        </ngb-tab>

        <!-- Applied-to projects -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            Applied To
            <span class="badge badge-pill" *ngIf="appliedToProjects.length">{{appliedToProjects.length}}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row pt-5">
              <ng-container *ngFor="let p of appliedToProjects">
                <project-box class="col-md-6" [p]="p"></project-box>
              </ng-container>
            </div>
            <div *ngIf="!appliedToProjects.length">
              No projects yet
            </div>
          </ng-template>
        </ngb-tab>

        <!-- Working-on projects -->
        <ngb-tab>
          <ng-template ngbTabTitle>
            In Work
            <span class="badge badge-pill" *ngIf="inWorkProjects.length">{{inWorkProjects.length}}</span>
          </ng-template>
          <ng-template ngbTabContent>
            <div class="row pt-5">
              <ng-container *ngFor="let p of inWorkProjects">
                <project-box class="col-md-6" [p]="p"></project-box>
              </ng-container>
            </div>
            <div *ngIf="!inWorkProjects.length">
              No projects yet
            </div>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>

    </div>
  </div>
</div>
