<div class="container pb-5">
  <div class="col-sm-12">
    <h3 class="mb-4">Student Applications for {{project.name}}</h3>
    <p class="lead mb-4">View and manage your project applications here</p>
    <div class="row ml-0 mr-0">

      <ul class="list-group" *ngFor="let a of applications">
        <li class="list-group-item">
          <img src="https://www.googleapis.com/plus/v1/people/100735760081796485371?fields=image&key=AIzaSyBm7Ulrl_un5-9Mbde7sIjbGPbhGMyb9rM">
          <a href="https://plus.google.com/{{a.user_id.split('|')[1]}}" target="_blank">{{a.user_id}}</a>
        </li>
      </ul>

      <!-- No applications view -->
      <div *ngIf="!applications.length" [@fadeIn]="!applications.length">
        <div class="alert alert-info mt-4 mb-5 font-italic">
          <img class="icon icons8-Question mr-3" width="64" height="64" [src]="ICONS.OOPS">
          No one has applied to your project yet...
        </div>
      </div>
      <!-- /end -->

    </div>
  </div>
</div>
