<div class="container pb-5">
  <div class="col-sm-12">
    <h3 class="mb-4">My Projects</h3>
    <p class="lead mb-4">View and manage your projects here</p>
    <div class="row ml-0 mr-0">

      <!-- Single project -->
      <ng-container *ngFor="let p of projects; let i = index">
        <div class="card col-md-5 pr-0 pl-0 mr-4 mb-4" [@fadeOut]="p">
          <div class="card-block">
            <h4 class="card-title ez-green">
              {{p.name}}
            </h4>
            <h6 class="card-subtitle mb-2 text-muted">
              {{p.cat.name + (p.company ? ' by ' + p.company : '')}}
            </h6>
            <hr>
            <p class="card-text mb-4" [innerHTML]="p.desc | nl2list"></p>
            <div *ngIf="p.status!==CONFIG.PROJECT.DONE">

              <!-- Modify project -->
              <span class="card-link ez-link" routerLink="/project/edit/{{p.id}}">
                <i class="fa fa-sliders mr-1"></i>
                Modify
              </span>

              <!-- Remove project -->
              <span class="card-link ez-link" *ngIf="p.status!==CONFIG.PROJECT.IN_WORK" (click)="confirmRemove(p, i)">
                <i class="fa fa-trash-o mr-1"></i>
                Remove
              </span>

              <!-- Student Applications -->
              <span class="card-link ez-link" routerLink="/project/{{p.id}}/applications">
                <i class="fa fa-wpforms mr-1"></i>
                Student Applications
              </span>

            </div>
          </div>
          <div class="card-footer text-muted">
            <div class="float-left" [ngClass]="{'ez-green': p.status!==CONFIG.PROJECT.PENDING}">
              <i class="fa fa-hourglass-o mr-1" *ngIf="p.status===CONFIG.PROJECT.PENDING"></i>
              <i class="fa fa-thumbs-o-up mr-1" *ngIf="p.status===CONFIG.PROJECT.APPROVED"></i>
              <i class="fa fa-cogs mr-1" *ngIf="p.status===CONFIG.PROJECT.IN_WORK"></i>
              <i class="fa fa-check mr-1" *ngIf="p.status===CONFIG.PROJECT.DONE"></i>
              <strong>{{CONFIG.PROJECT[p.status.toUpperCase() + '_TEXT']}}</strong>
            </div>
            <div class="float-right" *ngIf="p.status===CONFIG.PROJECT.APPROVED">
              <i class="fa fa-calendar-o mr-1"></i> Starts <strong>{{p.start_date | date}}</strong>
            </div>
          </div>
        </div>
      </ng-container>
      <!-- /end Single project -->

      <!-- No projects view -->
      <div *ngIf="!projects.length" [@fadeIn]="!projects.length">
        <div class="alert alert-info mt-4 mb-5 font-italic">
          <!-- Question icon by Icons8 -->
          <img class="icon icons8-Question mr-3" width="64" height="64" [src]="ICONS.OOPS">
          Hmmm, looks like you haven't submitted any projects...
        </div>
        <button type="button" class="btn btn-outline-success btn-lg" role="button" routerLink="project/add">
          Add a Project Now <i class="fa fa-angle-right ml-2 font-weight-bold"></i>
        </button>
      </div>
      <!-- /end -->

    </div>
  </div>
</div>
