<div class="container pb-5">
  <div class="col-12">
    <h3 class="mb-5">
      {{project.name}} <small>{{project.cat.name}}</small>

      <button class="btn btn-link text-muted mr-5 float-left" type="button" role="button" routerLink="/">
        <i class="fa fa-angle-left mr-2 font-weight-bold"></i>All projects
      </button>
    </h3>
    <div class="row">

      <!-- Main content -->
      <div class="col-8">
        <!-- Info Blocks -->
        <div class="card mb-4" *ngFor="let block of blocks">
          <div class="card-block">

            <!-- Title -->
            <h3 class="card-title mb-3">
              <!-- Info icon by Icons8 -->
              <img class="icon icons8-Info mr-2" width="64" height="64" [src]="block.icon">
              {{block.title}}
            </h3>

            <!-- Regular body -->
            <div class="card-text p-2" [innerHTML]="block.body | nl2list" *ngIf="block.body"></div>

            <!-- List body -->
            <div class="card-text p-2" *ngIf="block.list">
              <div class="row mb-2" *ngFor="let item of block.list">
                <div *ngIf="item.body">
                  <strong class="col-3">{{item.title}}</strong>
                  <span class="col-9" [innerHTML]="item.body | nl2sep"></span>
                </div>
              </div>
            </div>
            <!-- end -->

          </div>
        </div>
        <!-- end -->
        <p class="lead font-italic text-center">...<br>More info after application approval</p>
      </div>
      <!-- end -->

      <!-- Sidebar -->
      <div class="col-4">
        <!-- Student view -->
        <div *ngIf="auth.isAccTypeStudent">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of sidebarItems">
              <div class="col-6 p-0">{{item.title}}</div>
              <div class="col-6 p-0 font-weight-bold text-right">{{item.body}}</div>
            </li>
          </ul>
          <button type="button" class="btn btn-outline-success btn-lg btn-block mt-4" role="button"
                  (click)="applyToProject(project.id)"
                  *ngIf="!project.application.isApplied">
            Apply to Project <i class="fa fa-angle-right ml-2 font-weight-bold"></i>
          </button>
          <button type="button" class="btn btn-outline-danger btn-lg btn-block mt-4" role="button"
                  (click)="cancelApplication(project.id)"
                  *ngIf="project.application.isApplied">
            Cancel application <i class="fa fa-remove ml-2 font-weight-bold"></i>
          </button>
        </div>

        <!-- Entrepreneur view -->
        <div *ngIf="auth.isAccTypeEntrepreneur">
          entrepreneur
        </div>
      </div>
      <!-- end -->

    </div>
  </div>
</div>
