<dl class="row">
  <dt class="col-sm-1 h5">9,621</dt>
  <dd class="col-sm-11">Specialist suppliers registered and available today</dd>
  <dt class="col-sm-1 h5">51</dt>
  <dd class="col-sm-11">Specialist supplier teams available in all categories today</dd>
  <dt class="col-sm-1 h5">98</dt>
  <dd class="col-sm-11">Projects uploaded so far</dd>
  <dt class="col-sm-1 h5">53</dt>
  <dd class="col-sm-11">Successfully completed projects so far</dd>
</dl>

<p class="lead mt-4">
  EaZiUp is the affordable marketplace where your projects cost up to 80% less and
  are completed by a team of highly educated specialists who know how each other work.
  This enables you to transform your idea into reality for a small investment.
</p>

<hr class="mt-5 mb-5">
<div class="mx-auto" style="width: 320px">
    <button type="button" class="btn btn-success btn-lg" role="button" [routerLink]="['./projects']">
      Add a new project or job today
    </button>
</div>
