<div>

  <div>
    <p>
      <strong>9,621</strong> specialist suppliers registered and available today<br>
      <strong>51</strong> specialist supplier teams available in all categories today<br>
      <strong>98</strong> projects uploaded so far<br>
      <strong>53</strong> successfully completed projects so far<br>
    </p>

    <p>
      <strong>EaziUp is the affordable marketplace where your projects cost up to 80% less and<br>
        are completed by a team of highly educated specialists who know how each other work.<br>
        This enables you to transform your idea into reality for a small investment.</strong>
    </p>

    Add a new project or job today by clicking <a href="">here</a>
  </div>

</div>
